body {
	background-color: #f2f2f2;
	margin: 0;
	padding: 0;
}

.main_background{
	margin: 0;
}

#header, #header a{	
	text-align: center;
	color: white;
	background-color: #4CAF50;
	font-family: "Times New Roman";
	font-size: 2rem;
	font-weight: bolder;
	text-decoration: none;
}

.heading{
	padding: 0.5rem;
	margin: 0;
	/* border: 5px double; */
}

.text-box-container{
	margin: 5% 0 0 0;	
	text-align: center;
}

.text-box{
	color: gray;
	padding: 5px;
	width: 250px;
	height: 30px;
	margin: 10px;
	font-size: 16px;
	font-family: cursive;
	font-weight: bold;
	border-radius: 30px;
	text-align: center;
	/* text-transform: uppercase; */
	outline: none;
	border: 2px solid #4CAF50;
}

.submit_button {
	background-color: #4CAF50; /* Green */
	border: none;
	color: white;
	padding: 8px 30px;
	text-align: center;
	/* font-weight: bold; */
	font-size: 1rem;
	margin: 1.5rem;
	cursor: pointer;
  }

.result-container{
	color: #d44c23;
	font-size: 30px;
	font-family: cursive;
	font-weight: bold;
	text-align: center;
}

#footer{
	background-color: #4CAF50;
	color: white;
	text-align: center;  
	font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
	font-size: 13px;
	position: fixed;
	/* width: 100%; */
	left: 0px;
	bottom: 0px;
	right: 0px;
}

#footer a{
	color: white;
}